body{
  background-color: #f0f0f0;
}

#top-bar{
  position: fixed;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #fafafa;
  box-shadow: 0px 0px 1px 1px #cccccc;

  z-index: 1;
}
#content{
  margin-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
}
#content-left{
  float: left;
  width: 23%;
}
#content-center{
  float: left;
  width: 54%;
  border-left: 10px solid #f0f0f0;
  border-right: 10px solid #f0f0f0;
}
#content-right{
  float: left;
  width: 23%;
}

/* PROFILE PANEL */

#profile-background{
  height: 100px;
  background-image: url("images/profile_background.png");
}
#profile-panel > img{
  display: inline-block;
  position: relative;
  top: -30px;
  width: 28%;
  border: 5px solid white;
}
#profile-name{
  display: inline-block;
}
#profile-name > h5{
  color: #888888;
}
#profile-panel > div > div{
  text-align: center;
  display: inline-block;
  width: 45%;
  margin-top: -30px;
}

/* PAGES PANEL */
#pages-panel > a{
  display: block;
  padding: 5px;
}
#pages-panel > a:hover{
  cursor: pointer;
  text-decoration: underline;
}
#pages-panel > a + a{
  border-top: 1px solid #c0c0c0;
}
#pages-panel > a > img{
  display: inline-block;
  width: 13%;
}
#pages-panel > a > h4{
  display: inline-block;
  padding-left: 5px;
}

/* PAGE REC PANEL */
#page-rec-panel > a{
  display: block;
  padding: 5px;
}
#page-rec-panel > a:hover{
  cursor: pointer;
  text-decoration: underline;
}
#page-rec-panel > a + a{
  border-top: 1px solid #c0c0c0;
}
#page-rec-panel > a > img{
  display: inline-block;
  width: 16%;
}
#page-rec-panel > a > h4{
  display: inline-block;
  padding-left: 5px;
}
#page-rec-panel > a > span{
  color: gray;
}

/* USER-REC-PANEL */
#user-rec-panel > a{
  display: block;
  padding: 5px;
}
#user-rec-panel > a:hover{
  cursor: pointer;
  text-decoration: underline;
}
#user-rec-panel > a + a{
  border-top: 1px solid #c0c0c0;
}
#user-rec-panel > a > img{
  display: inline-block;
  width: 16%;
}
#user-rec-panel > a > h4{
  display: inline-block;
  padding-left: 5px;
}
#user-rec-panel > a > span{
  color: gray;
}


/* TRENDING PANEL */
#trending-panel > div{
  padding: 5px;
  max-height: 100px;
  overflow: hidden;
}
#trending-panel > div:hover{
  cursor: pointer;
  background-color: #f6f6f6;
}
#trending-panel > div + div{
  border-top: 1px solid #c0c0c0;
}
#trending-panel > div > img{
  display: inline-block;
  width: 13%;
}
#trending-panel > div > h4{
  display: inline;
  padding-left: 5px;
}

.panel-layout{
  background-color: #ffffff;
  padding: 7px;
  margin-bottom: 10px;
}
ul{
  list-style: none;
  padding-left: 5px;
}
